child-concurrency=Infinity
link-workspace-packages=true
network-concurrency=Infinity
registry=https://npm.stevefan1999.me
shamefully-hoist=true
shared-workspace-shrinkwrap=true
workspace-concurrency=Infinity