child-concurrency=Infinity
independent-leaves=true
link-workspace-packages=true
network-concurrency=Infinity
registry=https://npm.stevefan1999.me
shamefully-flatten=true
shared-workspace-shrinkwrap=true
workspace-concurrency=Infinity